*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: radial-gradient(circle at top, #020617, #020617);
}

button,
input,
textarea {
  font-family: inherit;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}

.flex-col {
  flex-direction: column;
}
